@font-face {
  font-family: "Avenir";
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/avenir-book.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-weight: 400, 500;
  font-style: normal;
  src: url("./fonts/avenir-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/avenir-heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400, 500;
  font-style: normal;
  src: url("./fonts/roboto-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/roboto-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Material Icons";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/material-icons-round.woff2") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
